<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sierpiński triangle</title>
</head>
<style>
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
</style>
<body>
    <div class="center">
        <canvas id="canvas" width="800" height="600" style="border: 2px solid #000"></canvas>
        <iframe width="800" height="600" src="https://www.youtube.com/embed/kbKtFN71Lfs"></iframe>
    </div>
</body>
<script>
    const canvas = document.getElementById("canvas");
    const context = canvas.getContext("2d");

    function drawPoint(point) {
        const {x, y, radius, display_kwargs: {fill}} = point;
        context.beginPath();
        context.arc(x, y, radius, 0, 2 * Math.PI);
        context.fillStyle = fill;
        context.fill();
        context.closePath();
    }

    const triangleData = {{ triangle_data | tojson }};
    const points = [
        triangleData.S,
        triangleData.A,
        triangleData.B,
        triangleData.C
    ];

    points.forEach(drawPoint);

    const dotsPerSecond = 2000; // Increase/decrease to change the speed
    const millisecondsPerDot = 1000 / dotsPerSecond;
    let nextDotIndex = 0;
    let previousTime;
    let accumulatedTime = 0;

    function animate(now) {
        if (previousTime !== undefined) {
            accumulatedTime += now - previousTime;
            const dotsToDraw = Math.floor(accumulatedTime / millisecondsPerDot);
            accumulatedTime -= dotsToDraw * millisecondsPerDot;

            const endIndex = Math.min(nextDotIndex + dotsToDraw, triangleData.dots.length);
            while (nextDotIndex < endIndex) {
                drawPoint(triangleData.dots[nextDotIndex]);
                nextDotIndex++;
            }
        }

        previousTime = now;
        if (nextDotIndex < triangleData.dots.length) {
            requestAnimationFrame(animate);
        }
    }

    requestAnimationFrame(animate);
</script>
</html>
